GITHUB_WEBHOOK_SECRET=
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY_PATH="./private-key.pem"
GITHUB_APP_NAME="Umbridge Github App"
GITHUB_ORG_NAME=
REACTION_THRESHOLD=1
POLLING_INTERVAL=7000

NOTION_PAGE_ID=
NOTION_INTEGRATION_TOKEN=

SMEE_URL=
PORT=3000
